@media (min-width: 768px) {
  /* header */
  .header__container {
    padding: 0 24px;
  }
  .header__btn--burger {
    margin-right: 42px;
  }
  .header__btn--burger::after,
  .header__btn--call,
  .header__btn--message,
  .header__btn--profile {
    display: inline-block;
  }

  /* main */
  .hero__wrapper {
    margin-bottom: 32px;
    padding: 0 24px;
  }
  .hero__nav {
    margin-bottom: 32px;
    padding: 0 24px;
  }
  .about-us {
    flex-direction: row;
    padding: 0 24px;
  }
  .about-us__text {
    padding: 0;
  }
  .about-us__wrapper {
    margin-right: 48px;
    margin-bottom: 10px;
    height: 160px;
  }
  .about-us__desc {
    line-height: 20px;
  }
  .about-us__pic {
    max-width: 360px;
    border-radius: 6px;
  }
}

@media (min-width: 1120px) {
  /* header */
  .header {
    display: none;
  }

  /* main */
  .hero {
    padding: 42px 0;
  }
  .hero__wrapper {
    margin-bottom: 8px;
    padding: 0 32px;
  }
  .hero__actions {
    display: flex;
  }
  .hero__nav {
    margin-bottom: 16px;
    padding: 0 32px;
  }
  .nav__list {
    flex-wrap: wrap;
  }
  .about-us {
    padding: 0 32px;
  }
  .about-us__wrapper {
    margin-right: 36px;
    margin-bottom: 14px;
  }
  .about-us__pic {
    max-width: 530px;
  }
}
